.grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1px;
    background-color: #25353b;
}

.row {
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    grid-gap: 1px;
}

.row:nth-child(even) .col {
    background-color: #3a505a;
}

.row:nth-child(odd) .col {
    background-color: #354b55;
}

.col {
    width: 100%;
    height: 2rem;
}